body{
    font-family: Verdana;
}

.box {
    float: left;
    height: 100px;
    width: 100px;
    margin: 1em;
    border: 0px;
}

.first-box{
    clear: both;
}

.yellow {
    background-color: GoldenRod;
}

.green {
    background-color: green;
}

.gray {
    background-color: gray;
}

.white-letter {
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 80px;
}